- var name        = "Ruum"
- var logoUrl     = "http://ruumapp.com/logo.png"

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title= title
meta(name="description" content=description)
meta(name="viewport" content="width=device-width, initial-scale=1")

//- opengraph
meta(property="og:type"         content="website")
meta(property="og:title"        content=title)
meta(property="og:site_name"    content=name)
meta(property="og:url"          content=url)
meta(property="og:image"        content=logoUrl)
meta(property="og:description"  content=description)

//- schema.org
meta(property="og:type"         content="website")
meta(property="og:url"          content=url)
meta(property="og:title"        content=title)
meta(property="og:description"  content=description)
meta(property="og:image"        content=logoUrl)
meta(property="og:site_name"    content=name)

//- twitter card
meta(name="twitter:card"        content="summary_large_image")
meta(name="twitter:site"        content="@ruumapp")
meta(name="twitter:creator"     content="@ruumapp")
meta(name="twitter:title"       content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:image:src"   content=logoUrl)

//- links
link(rel="shortcut icon" href="/logo.png")
link(rel="apple-touch-icon" href="/logo.png")
//- link(rel="canonical" href=url)
link(href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet")

link(href='/app.css' rel='stylesheet' type='text/css')

img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=360088867659659&ev=PageView&noscript=1")
